h1= title
p Welcome to #{title}

ul
- each score in scores
  li
    b= score.user + " " + score.score
br
form( action="/scores/newscore/", method="get")
    div
        #newScoreSubmit
            input.button(type="submit", value="New Score")