h1 Insert new highscore
form( method="post")
    div
        br
        div
            span.inputtitle User name:
            input(type="text", name="user")
        br
        div
            span.inputtitle Score :
            input(type="text", name="score")
        br
        #insertScoreSubmit
            input.button(type="submit", value="Save score")